*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    text-decoration: none;
}
/* Home */
/* HEADER */
.home-header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #1F0935;
    justify-content: space-between;
    align-items: center;
    padding: 4px 80px 0px 80px;
    position: fixed;
    z-index: 1000;

}
.home-header div{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.home-header img{
    width: auto;
    height: 55px;
}
.home-header div button{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    background: none;
    border: none;
    border-radius: none;
    padding: 8px 20px;
    transform: 1ms;
    cursor: pointer;
}
.home-header .active{
    padding: 8px 20px;
    background: #C537B4;
    border-radius: 20px;
}
.home-header div button:hover{
    padding: 8px 20px;
    background: transparent;
    outline: 1px solid #C537B4;
    border-radius: 20px;
}
/* END HEADER */
/* Body */
.body-home{
    width: 100%;
    height: 110vh;
    background: url(images/home-background.png) no-repeat top right/cover;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.home-description{    
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.home-description h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 23px;
    line-height: 30px;
}
.home-description h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: unset;
    text-align: justify;
    line-height: 25px;
}
.getstarted{
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    background-color: #C537B4;
    border-radius: 20px;
    padding: 8px 17px;
    border: none;
    cursor: pointer;
    transform: 1ms;
}
.getstarted:hover{
    padding: 8px 17px;
    background: transparent;
    outline: 1px solid #C537B4;
    border-radius: 20px;
}
/* END BODY */
/* FOOTER */
footer{
    padding: 10px 40px;
    width: 100%;
    background-color: #5B1A9B;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}
footer div img{
    width: auto;
    height: 20px;
    cursor: pointer;
    transform: 1ms;
}
footer div a{
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 12px;
}
/* END FOOTER */
/* End Home */
/* --------------- */
/* Quiz */
/* HEADER */
.quiz-header{
    width: 100%;
    height: 55px;
    display: none;
    flex-direction: row;
    background-color: #000312;
    justify-content: space-between;
    align-items: center;
    padding: 4px 80px;
    position: fixed;
    z-index: 1000;
}
.quiz-header div{
    display: flex;
    flex-direction: row;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    gap: 10px;
}
.Avatar-profil{
    width: 260px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #C537B4;
    padding: 5px 10px;
    border-radius: 40px;
}
.Avatar-profil img{
    width: 45px;
    height: auto;
}
.Avatar-profil div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap : 5px;
    color: white;
    font-size: 12px;
}
.quiz-header img{
    height: 45px;
    width: auto;
}

/* END HEADER */
/* QUIZ-BODY */
.quiz-body{
    width: 100%;
    height: 110vh;
    background: url(images/Quiz-background.png) no-repeat top right/cover;
    display: none;
    justify-content: center;
    align-items: center;
}
.quiz-description{  
    background: rgba(91, 26, 155, 0.66);
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.7px);
    -webkit-backdrop-filter: blur(3.7px);
    width: 80%;
    height: 500px;
    border-radius: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
}

.quiz-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    opacity: 100%;

}
.quiz-title h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 23px;
}
.quiz-answer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 45px;

}
.quiz-answer h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 23px;
}
.quiz-answer h4{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: unset;
    line-height: 25px;
    margin: 0 40px;
}
.question-level{
    padding: 7px 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background: #5B1A9B;
}
.quiz-button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 45px;
    column-gap: 170px;
}
.answer-button{
    padding: 10px 100px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: #C537B4;
    opacity: 200%;
    transform: 1ms;
    cursor: pointer;
}
.answer-button:hover{
    background: transparent;
    outline: 1px solid #C537B4;
    padding: 10px 100px;
    border-radius: 10px;
}   
/* End Quiz */
/* Congratulations */
/* BODY */
.body-concrats{
    width: 100%;
    height: 110vh;
    background: url(images/home-background.png) no-repeat top right/cover;
    color: #ffffff;
    display: none;
    justify-content: center;
    align-items: center;
}
.congrats-background{
    background: rgba(12, 22, 66, 0.5);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.6px);
    -webkit-backdrop-filter: blur(7.6px);
    width: 80%;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 20px;
}
.congrats-body{
    display: flex;
    flex-direction: row;
}
.congrats-emojis{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.congrats-emojis img{
    height: 40px;
    width: auto;
}
.try-again{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.trophy{
    height: 270px;
    padding: 0px 100px;
}
.badge-congrats{
    height: 70px;
    width: auto;
}
.recompense{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.congrat-score{
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    border-top: 2px solid white;
}
.badging{

    height: 60px;
    width: auto;
}
/* END BODY */
/* End Congratulations */